<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Edad de mi Perro </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onInfoClick()">
        <ion-icon slot="start" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edad de mi Perro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-text-center result-panel">
      <ion-col size="12">
        <ion-label class="result-label">
          {{ humanAgeYears }}
        </ion-label>
        <ion-label>a&ntilde;os</ion-label>
        <ion-label class="result-label">
          {{ humanAgeMonths }}
        </ion-label>
        <ion-label>meses</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label position="floating">A&ntilde;os</ion-label>
    <ion-input
      type="number"
      placeholder="A&ntilde;os"
      min="0"
      [(ngModel)]="years"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Meses</ion-label>
    <ion-input
      type="number"
      placeholder="Meses"
      min="0"
      max="12"
      [(ngModel)]="months"
    ></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="size">
      <ion-list-header>
        <ion-label> Selecciona tama&ntilde;o de raza </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Chica</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Mediana</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Grande</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer no-shadow>
  <ion-button expand="block" (click)="calcular()"> Calcular </ion-button>
</ion-footer>
